<h3>Content:</h3><hr>
<p id="notice"><%= notice %></p>

<p>
  	<strong>Icon:</strong><br>
  	<%= image_tag(@idea.picture_url, :width =>50) if @idea.picture.present? %>
</p>

<p>
	<strong>Name:</strong><br>
	<%= @idea.name %>
</p>

<p>
  	<strong>Details:</strong><br>
  	<%= @idea.description %>
</p>


<h3>Comments</h3><hr>
<%= @comments.each do |comment| %>
  	<div>
	    <strong><%= comment.username %></strong>
	    <br/>
	    <p><%= comment.body %></p>
	    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  	</div>
<% end %>
<h3>Leave us some comments</h3>
<hr>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
