<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@idea.picture_url, width: '50%') if @idea.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><br><%= @idea.name %></p>
    <p><b>Details: </b><br><%= @idea.description %></p><br>
    <p>
    	<%= link_to edit_idea_path(@idea) do %>
      		<span class="glyphicon glyphicon-pencil">Edit</span>
      	<% end %> |
      	<%= link_to @idea, data: { confirm: 'Confirm to delete it?'}, method: :delete do %>
			<span class="glyphicon glyphicon-trash">Delete</span>
      	<% end %> |
      	<%= link_to ideas_path do %>
      		<span class="glyphicon glyphicon-arrow-left">Back</span>
      	<% end %>
    </p>
  </div>
</div>